:root {
  --tw-black: #3c3c3c;
  --tw-white: #ffffff;

  --tw-primary: #244a9a;
  --tw-primary-100: #e6ebff;
  --tw-primary-150: #9baed4;
  --tw-primary-200: #748cc0;
  --tw-primary-300: #9baeff;
  --tw-primary-400: #4c6bad;
  --tw-primary-500: #244a9a;
  --tw-primary-600: #1d3b7b;
  --tw-primary-700: #162c5c;
  --tw-primary-800: #0e1e3e;
  --tw-primary-850: #0b162e;
  --tw-primary-900: #070f1f;

  --tw-secondary: #00ccaa;
  --tw-secondary-25: #c4f5ec80;
  --tw-secondary-50: #e5fdf3;
  --tw-secondary-100: #c4f5ec;
  --tw-secondary-150: #abf0e4;
  --tw-secondary-200: #93ebdc;
  --tw-secondary-300: #62e0cb;
  --tw-secondary-400: #31d6bb;
  --tw-secondary-500: #00ccaa;
  --tw-secondary-600: #00a388;
  --tw-secondary-700: #007a66;
  --tw-secondary-800: #005244;
  --tw-secondary-850: #003d33;
  --tw-secondary-900: #002922;

  --tw-grey: #818181;
  --tw-grey-25: #F2F4F7;
  --tw-grey-50: #f8f8f8;
  --tw-grey-100: #e6e6e6;
  --tw-grey-150: #d9d9d9;
  --tw-grey-200: #cdcdcd;
  --tw-grey-300: #cdcdcd;
  --tw-grey-400: #9a9a9a;
  --tw-grey-500: #818181;
  --tw-grey-600: #676767;
  --tw-grey-700: #4d4d4d;
  --tw-grey-800: #343434;
  --tw-grey-850: #272727;
  --tw-grey-900: #1a1a1a;

  --tw-success: #2DB500;
  --tw-success-50: #eefbe5;
  --tw-success-100: #C1F0B2;
  --tw-success-150: #AFE99B;
  --tw-success-200: #9CE185;
  --tw-success-300: #77D359;
  --tw-success-400: #52C42C;
  --tw-success-500: #2DB500;
  --tw-success-600: #249100;
  --tw-success-700: #1B6D00;
  --tw-success-800: #124800;
  --tw-success-850: #0E3600;
  --tw-success-900: #092400;

  --tw-danger: #ff4d01;
  --tw-danger-50: #f6d7d9;
  --tw-danger-100: #ffcccc;
  --tw-danger-150: #ffb3b3;
  --tw-danger-200: #ff9999;
  --tw-danger-300: #ff6767;
  --tw-danger-400: #ff3434;
  --tw-danger-500: #ff4d01;
  --tw-danger-600: #cc0101;
  --tw-danger-700: #990101;
  --tw-danger-800: #660000;
  --tw-danger-850: #4d0000;
  --tw-danger-900: #330000;

  --tw-warning: #ff4d01;
  --tw-warning-50: #fffaf0;
  --tw-warning-100: #ffdbcc;
  --tw-warning-150: #ffcab3;
  --tw-warning-200: #ffb899;
  --tw-warning-300: #ff9467;
  --tw-warning-400: #ff7134;
  --tw-warning-500: #ff4d01;
  --tw-warning-600: #cc3e01;
  --tw-warning-700: #992e01;
  --tw-warning-800: #661f00;
  --tw-warning-850: #4d1700;
  --tw-warning-900: #330f00;

  --tw-info: #0071f6;
  --tw-info-50: #e5f8fe;
  --tw-info-100: #cce3fd;
  --tw-info-150: #b2d4fc;
  --tw-info-200: #99c6fb;
  --tw-info-300: #66aafa;
  --tw-info-400: #338df8;
  --tw-info-500: #0071f6;
  --tw-info-600: #005ac5;
  --tw-info-700: #004494;
  --tw-info-800: #002d62;
  --tw-info-850: #00224a;
  --tw-info-900: #001731;

  //-------------

  --tw-university-primary: #002051
}
